* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://source.unsplash.com/random/1920x1080?yellow');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}
