.hidden {
  display: none;
}

body {
  background-image: url(https://source.unsplash.com/category/nature/1600x900);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  padding: 20px;
}

i {
  cursor: pointer;
}
